---
visibility: private
---

Groups in this file: {{ formatNumber "%d" .GroupsInFile }} (Total groups: {{ formatNumber "%d" .TotalGroups }})

{{ range $group := .Groups }}
## Group {{ formatNumber "%d" .GroupNum }}: {{ .Name }} ({{ formatNumber "%d" .Count }} images)

{{ range .URLs }}
![]({{ . }})
{{ end }}

{{ end }}
